<ion-view view-title="Study@Taiwan" animation="no-animation">
    <ion-nav-bar class="bar bar-header bar-balanced">
    </ion-nav-bar>
    <ion-content class="page-back">
        <div class = "row lobby-row">
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/Stall" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-layout.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">攤位地圖</i>
                </div>
            </div>
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/traffic" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-traffic.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">交通資訊</i>
                </div>
            </div>
        </div>
        <div class = "row lobby-row">
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/schoolSunmary/school" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-school.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">學校介紹</i>
                </div>
            </div>
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/Theme_events" class="item-href">
                        <i class="item-icon"><img src="img/btn-event.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">大學巡禮</i>
                </div>
            </div>
        </div>
        <div class = "row lobby-row">
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/news" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-news.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">最新消息</i>
                </div>
            </div>
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/lecturetime" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-lecture.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">講座時間</i>
                </div>
            </div>
        </div>
        <div class = "row lobby-row">
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/like_list" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-favorite.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">我的最愛</i>
                </div>
            </div>
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/Questionnaire" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-question.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">行動問卷</i>
                </div>
            </div>
        </div>
        <div class = "row lobby-row">
            <!-- 此功能暫不開放
             <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/photos" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-photo.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">活動花絮</i>
                </div>
            </div>-->
            <div class = "col col-50 lobby-col">
                <div class="lobby-item-img">
                    <a href="#/others" class="item-href">
                        <i class="item-icon"><img ng-src="img/btn-other.png"></i>
                    </a>
                </div>
                <div class="lobby-item-text">
                    <i class= "item-description">其他</i>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>