<ion-view view-title="活動花絮" animation="no-animation">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content >
	<!--
		<div style="height: 305px">
			<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			  <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<div style="text-align:center;">
				<img ng-src="{{slide.image}}" style="width:95%; height:95%;">
				</div>
			  </uib-slide>
			  	<div class="carousel-caption">
				<h4>Slide {{slide.id}}</h4>
				<p>{{slide.text}}</p>
				</div>
			</uib-carousel>
		</div>
		<div class="bar bar-footer">
			<div class="title">
				<button class="button button-positive ion-camera" style = "width:95%;">
				</button>
			</div>
		
		</div>
	-->
    </ion-content>
</ion-view>
