<ion-tabs class="tabs-icon-top tabs-color-active-balanced ">

  <!-- info Tab -->
  <ion-tab title="學校簡介" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/schoolinfoSunmary/schoolinfo">
    <ion-nav-view name="schoolinfoSunmary-schoolinfo"></ion-nav-view>
  </ion-tab>

  <!-- present Tab -->
  <ion-tab title="學校特色" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/schoolinfoSunmary/schoolpresent">
    <ion-nav-view name="schoolinfoSunmary-schoolpresent"></ion-nav-view>
  </ion-tab>
  
  <!-- unit Tab -->
  <ion-tab title="學群" icon-off="ion-ios-flask-outline" icon-on="ion-ios-flask" href="#/schoolinfoSunmary/schoolunit">
    <ion-nav-view name="schoolinfoSunmary-schoolunit"></ion-nav-view>
  </ion-tab>

</ion-tabs>